<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
 
.img{
    margin-top: 5px;
}
.whole_div{
    background: rgb(63, 124, 231);
    height: 110px;
    width: screen;
    /* text-align: center; */
    line-height: 100px;
}

button:hover{
    cursor: pointer;
}
button{
    margin-top: 1px;
    height: 40px;
    line-height: 20px;
    background: rgb(63,124,231);
    /* border: 20px; */
    border: none;
    color: black;
    font-size: 15px;
}

.search_btn{
    height: 30px;
}

.icon_btn{
    height: 30px;
}
    </style>
    
    
</head>
<body>
    <div class="whole_div" >
    <img src="logo.png" height="80px" class="img">
    <button>理财销售管理系统</button>
    <button>投资问卷调查</button>
    <button>风控问卷调查查询</button>
    <button>资金存入</button>
    &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <img src="search.png" class="search_btn">
    &emsp; &emsp;
    <img src="icon.png" class="icon_btn">
    &emsp; &emsp;
    <button>帮助</button>





    </div>
</body>
</html> 